﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Đăng Ký Tài Khoản</title>

    <!-- Icons font CSS-->
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/datepicker/daterangepicker.css" media="all">
    <!-- Main CSS-->
    <link href="~/Content/css/main-sign.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"> Registration Shop </h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-row m-b-55">
                            <div class="form-row">
                                <div class="name">Tên khách hàng:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" style="width:400px;"placeholder="Full name" name="Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Giới tính:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <p style="color:red ">@ViewData["Enron3"]</p>
                                        
                                        <input class="input--style-5" type="text" placeholder="Sex" name="Sex" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Số điện thoại:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="tel" style="width:300px;"  name="Phonenumber" placeholder="012-3456789" pattern="[0-9]{3}-[0-9]{7}" required >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Địa chỉ:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" style="width:400px;" placeholder="Address" name="Address" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Email:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="email" style="width:400px;" placeholder="Email" name="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Tên đăng nhập:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <p style="color:red ">@ViewData["Enron4"]</p>
                                        <input class="input--style-5" type="text" style="width:250px;" placeholder="User name" name="Username" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Mật khẩu:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <p style="color:red ">@ViewData["Enron5"]</p>
                                        <input class="input--style-5" type="password" style="width:230px;" placeholder="Password" name="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row p-t-20">
                                <label class="label label--block">Bạn đã là khách hàng của shop ?</label>
                                <div class="p-t-15">
                                    <label class="radio-container m-r-55">
                                        Yes
                                        <input type="radio" checked="checked" name="exist">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        No
                                        <input type="radio" name="exist">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn--radius-2 btn--red" value="Save" type="submit">Register</button>
                            </div>
                    </form>

                </div>
                <a href="@Url.Action("Index","Home")"><img style="width:40px;" src="~/Content/images/come-back.png" /></a>
            </div>
        </div>
       
    </div>

    <!-- Jquery JS-->

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->

    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/datepicker/daterangepicker.js></script>
    <script src="~/Content/vendor/datepicker/moment.min.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
    <script src="~/Content/js/global.js"></script>
</body><

</html>
<!-- end document-->
