﻿
@{
    Layout = null;
}


@using WebPashion.Models;
@model List<Cart>


<!DOCTYPE html>
<html>
<head>
    <title>Thời trang Nữ</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    @*link login*@
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        // function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/Content/css/style-login1.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome-login.css"> <!-- Font-Awesome-Icons-CSS -->
    <link href="//fonts.googleapis.com/css?family=Snippet" rel="stylesheet"><!--online fonts-->
    @* text *@
    <link rel="stylesheet" href="~/Content/css/style-text.css">
    @* link contact *@

    <link rel="stylesheet" href="~/Content/css/style-contact.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default%22%3E"></script>
    <link rel="stylesheet" href="~/Content/css/styleAbout.css">
    @* link order css *@
    <link rel="stylesheet" href="~/Content/css/style-order.css">
    @* Button *@
    <link rel="stylesheet" href="~/Content/css/style-buton.css">
    <link rel="stylesheet" href="~/Content/fontawesome-free-5.15.3-web/css/all.min.css">
    <!--//tags -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/table.css" rel='stylesheet' type='text/css' />
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- header -->
    <div class="header" id="home">
        <div class="container">
            <ul>
                <li> <a href="~/Account/Login" data-toggle="modal" @*data-target="#myModal"*@><i class="fa fa-unlock-alt" @*aria-hidden="true"*@></i>Đăng nhập </a></li>
                <li> <a href="~/Account/Registor" data-toggle="modal" @*data-target="#myModal2">*@<i class="fa fa-pencil-square-o" @*aria-hidden="true"*@></i> Đăng ký </a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 0332283252</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:dhkhang0103@Gmail.com">dhkhang0103@Gmail.com</a></li>
            </ul>
        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">

            <div class="col-md-4 logo_agile">
                <h2><a href="~/Home/Index"><span>Thời trang </span>Nữ </a></h2>
            </div>

            <div class="col-md-4 header-middle">
                <form action="#" method="post">
                    <input type="search" name="search" placeholder="Search" required="">
                    <input type="submit" value=" ">
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- header-bot -->
            <!-- header-bot -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- banner -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active menu__item menu__item--current"><a class="menu__link" href="~/Home/Index">TRANG CHỦ<span class="sr-only">(current)</span></a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/GetShirt">ÁO</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/GetTrousers">QUẦN</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/GetDresses">ĐẦM</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/GetAccessories">PHỤ KIỆN</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/About">THÔNG TIN</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/Contact">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="top_nav_right">
                <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                    <form action="#" method="post" class="last">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="display" value="1">
                        @Html.Action("CartPartial", "Cart")
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    
    @*//Modal2
         banner
        Nơi đặt slidershow*@
    <div class="clearfix"></div>


    <div class="body__table">
        <div style="display: inline-flex; height: 110px; width: 100%; margin: 30px 0px 50px 0px; ">
            <a style="margin-top: 41px; margin-right: 10px; list-style-type: none; margin-left: 127px; }" href="@Url.Action("Cart","Cart")"><img style="width:50px;" src="~/Content/images/IMG/gobackcart.png" /><img style="width:30px;" src="~/Content/images/IMG/undo-cart.png" /></a>
            <h1>Thông tin đơn hàng</h1>
        </div>
        
        <div style="display:inline-flex;">
            <table class="table">
                <tr class="table__row" style="font-weight:bold;">
                    <th style="font-weight:bold;" class="table__heading">Mã sản phẩm</th>
                    <th style="font-weight:bold; height:0px;" class="table__heading">Tên sản phẩm</th>
                    <th style="font-weight:bold;" class="table__heading">Ảnh</th>
                    <th style="font-weight:bold;" class="table__heading">Số lượng</th>
                    <th style="font-weight:bold;" class="table__heading">Size</th>
                    <th style="font-weight:bold;" class="table__heading">Giá</th>
                    <th style="font-weight:bold;" class="table__heading">Tiền</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="table__row" style="text-align:center;">
                        <td style="height:50px;" class="table__content" data-heading="Player">@item.iID</td>
                        <td class="table__content" data-heading="Seasons">@item.sProductName</td>
                        <td class="table__content" data-heading="Points"><img style="width:50px;" src="~/Content/images/IMG/@item.sProductImage" /></td>
                        @using (Html.BeginForm("UpdateCart", "Cart", new { @id = item.iID }))
                        {
                            <td class="table__content" data-heading="Jersey Number">@item.iCount</td>
                            <td class="table__content" data-heading="Jersey Number">@item.sSize</td>
                            <td class="table__content" data-heading="Teams">@String.Format("{0:0,0}", item.iProductPrice)</td>
                            <td class="table__content" data-heading="Career">@String.Format("{0:0,0}", item.dMoney) VNĐ</td>
                        }
                    </tr>
                }
            </table>
            @{
                CUSTOMER kh = (CUSTOMER)Session["account"];
            }

            @using (Html.BeginForm())
            {
                <div style=" width: 400px; height:auto;margin-left:80px;margin-top:25px;">
                    <h4 style="text-align:left;margin-bottom:10px;margin-top:10px;font-weight:bold;">Thông tin tài khoản</h4>
                    <div class="info">
                        <p><span><i class="fas fa-user"></i></span> @kh.CustomerName</p>
                        <p><span><i class="fas fa-mobile-alt"></i></span> @kh.CustomerPhone</p>
                    </div>
                    <div class="info"><p><i class="fas fa-map-marker-alt"></i> @kh.CustomerAddress</p></div>
                    <h4 style="text-align:left;margin-bottom:10px;margin-top:10px;font-weight:bold;">Thông tin nhận hàng</h4>
                    <div class="date">
                        <p style=""><div style="display:inline-flex;float:left;width:440px; margin-left:20px;"><i style="margin-top:30px;" class="far fa-user"></i><div class="col-3"><input class="effect-1" type="text" placeholder="Tên người nhận" name="namereceiver" required><span class="focus-border"></span></div> </div></p>
                        <p style=""><div style="display:inline-flex;float:left;width:440px; margin-left:20px;"><i style="margin-top:30px;" class="fas fa-map-marker-alt"></i><div class="col-3"><input class="effect-1" type="text" placeholder="Địa chỉ người nhận" name="addressreceiver" required><span class="focus-border"></span></div> </div></p>
                        <p style=""><div style="display:inline-flex;float:left;width:440px; margin-left:20px;"><i style="margin-top:30px;" class="fas fa-phone-volume"></i><div class="col-3"><input class="effect-1" type="text" placeholder="Số điện thoại" name="phonereceiver" required><span class="focus-border"></span></div> </div></p>
                        <p style="margin-left:40px;">Ngày đặt: @DateTime.Now.ToShortDateString()</p>
                        <p style="margin-left:40px;padding-bottom:10px;">Ngày nhận:<input style=" height: 30px;" type="date" /></p>
                    </div>
                    <div class="order">
                        <p style="padding-top:10px;">Số lượng: @ViewBag.SumCount</p>
                        <p style="padding-bottom:10px;">Tổng tiền: @String.Format("{0:0,0}", ViewBag.SumMoney) VNĐ</p>
                        <div style="display:inline-flex"><p>Thanh toán:</p><div id="paypal-button"></div></div>
                        
                    </div>
                    <div style="margin-top:10px;" class="save">
                        <input type="submit" value="Hoàn thành mua hàng">
                    </div>

                </div>
            }
        </div>
    </div>

    <!--/grids-->
    <div class="coupons">
        <div class="coupons-grids text-center">
            <div class="w3layouts_mail_grid">
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>Miễn phí vận chuyển</h3>
                        <p>Hỗ trợ 100% chi phí vận chuyển hàng</p>
                    </div>
                </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>Hỗ trợ 24/7</h3>
                        <p>Hỗ trợ, giải đáp thắc mắc của khách hàng 24/7</p>
                    </div>
                </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>Trả hàng - Hoàn tiền</h3>
                        <p>Khách hàng có thể đổi trả nếu sản phẩm gặp lỗi</p>
                    </div>
                </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>COUPONS QUÀ TẶNG FREE</h3>
                        <p>Cửa hàng có nhiều chương trình ưu đãi khách hàng</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!--grids-->
    <!-- footer -->
    @* footer *@
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <div class="col-md-3 footer-left">
                <h2><a href="index.html"><span>Thời trang</span>Nữ</a></h2>
                <p>
                    Fanpage Shop
                </p>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>ME<span>NU</span> </h4>
                        <ul>
                            <li><a href="~/Home/index">Trang chủ</a></li>
                            <li><a href="~/Home/GetShirt">Áo</a></li>
                            <li><a href="~/Home/GetTrousers">Quần</a></li>
                            <li><a href="~/Home/GetDresses">Đầm</a></li>
                            <li><a href="~/Home/GetAccessories">Phụ kiện</a></li>
                            <li><a href="~/Home/about">Thông tin</a></li>
                            <li><a href="~/Home/contact">Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 sign-gd-two">
                        <h4>Thông tin <span>Shop</span></h4>
                        <div class="w3-address">
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Hotline: </h6>
                                    <p>0912345678</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Email</h6>
                                    <p>Email :<a href="mailto:G@Email.com"> dhkhang@Gmail.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Địa chỉ</h6>
                                    <p>
                                        Hồ Chí Minh . VIỆT NAM

                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sign-gd flickr-post">

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            @* <div class="clearfix"></div>
                <div class="agile_newsletter_footer">
                    <div class="col-sm-6 newsleft">
                        <h3>ĐĂNG KÝ ĐỂ NHẬN BẢN TIN !</h3>
                    </div>
                    <div class="col-sm-6 newsright">
                        <form action="#" method="post">
                            <input type="email" placeholder="Nhập Email của bạn..." name="email" required="">
                            <input type="submit" value="Đăng kí">
                        </form>
                    </div>*@

            <div class="clearfix"></div>
        </div>
        <p class="copy-right">&copy; @DateTime.Now.Year Thời trang Nữ. All rights reserved
    </div>
    <!-- //footer -->
    <!-- login -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-bottom">
                                <h3>Sign up for free</h3>
                                <form>
                                    <div class="sign-up">
                                        <h4>Email :</h4>
                                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                    </div>
                                    <div class="sign-up">
                                        <h4>Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                    </div>
                                    <div class="sign-up">
                                        <h4>Re-type Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                    </div>
                                    <div class="sign-up">
                                        <input type="submit" value="REGISTER NOW">
                                    </div>

                                </form>
                            </div>
                            <div class="login-right">
                                <h3>Sign in with your account</h3>
                                <form>
                                    <div class="sign-in">
                                        <h4>Email :</h4>
                                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                    </div>
                                    <div class="sign-in">
                                        <h4>Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="single-bottom">
                                        <input type="checkbox" id="brand" value="">
                                        <label for="brand"><span></span>Remember Me.</label>
                                    </div>
                                    <div class="sign-in">
                                        <input type="submit" value="SIGNIN">
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/js-text.js"></script>
    <!-- //js -->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!-- script for responsive tabs -->
    <script src="~/Content/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- //script for responsive tabs -->
    <!-- stats -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {


            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
    paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'AeOTqTKQpRuJGxFt3DdRLB4jTrlcNjBlGOcm0UksKetDTg0Tr1uUsJkAM8qoedB1naJCnflhq5oUaSdy',
            production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'en_US',
        style: {
            size: 'medium',
            color: 'gold',
            shape: 'pill',
        },

        // Enable Pay Now checkout flow (optional)
        commit: true,

        // Set up a payment
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '@ViewBag.SumMoney',
                        currency: 'USD'
                    }
                }]
            });
        },
        // Execute the payment
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                // Show a confirmation message to the buyer
                toastr.success('Thanh toán thành công! Vui lòng chọn hoàn thành để hoàn tất đơn hàng');
            });
        }
    }, '#paypal-button');
    </script>
</body>
</html>
